{
	admin off
	auto_https off
}

:3000 {
	@backend path /api/* /sync/* /version
	handle @backend {
		reverse_proxy 127.0.0.1:3210
	}

	@trailing path /_backend /_site
	redir @trailing {path}/ 308

	handle_path /_backend/* {
		reverse_proxy 127.0.0.1:3210
	}

	handle_path /_site/* {
		reverse_proxy 127.0.0.1:3211
	}

	# Static frontend app
	handle {
		root * /app/dist
		file_server
	}
}
