<% if flash[:notice] %>
    <div class="mt-4 alert alert-info" rold="alert">
        <%= flash[:notice] %>
    </div>
<% end %>

<% if flash[:alert] %>
    <div class="mt-4 alert alert-danger" rold="alert">
        <%= flash[:alert] %>
    </div>
<% end %>
